body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 14px/1.5 Georgia, Times New Roman, Times, serif;
  color: #444;
}

a {
  color: #C41230;
  text-decoration: none;
}

h1,
h2,
h3 {
  line-height: 1.2;
}


li {
  margin-bottom: 8px;
}